body {
    font-family: Helvetica, Arial;
    margin: 0;

}

#header {
    text-align: center;
    padding: 20px;
}

#header img {
    height: 60px;
}

#about {
    background-color: #2c86c7;
    color: white;
    text-align: center;
    padding: 50px 0px 50px 0px;
    line-height: 160%;

}

#what-image {
    float: left;
    width: 510px;
    padding: 30px 0;
}

#what-image img {
    width: 400px;
}

#what-content {
    float: left;
    width: 510px;
    padding: 40px 0;
    line-height: 140%;
    color: #125281;
}

#services {
    background-color: #e8f5ff;
    padding: 50px 0;
    color: #125281;
}

.service-box {
    float: left;
    background-color: white;
    padding: 30px;
    margin: 20px 10px;
    text-align: center;
    width: 175px;
    height: 150PX;
    border-radius: 10px;
}

#contact {
    background-color: #2c86c7;
    color: white;
    text-align: center;
    padding: 50px 0px 50px 0px;
    line-height: 160%;
}
#contact p{
    margin: 0;
}

.phone{
  font-size: 2em;
  font-weight: bold;  
  margin-bottom: 15px !important;
}
#contact hr{
    border: 0;
    height: 1px;
    background-color: #5ca5da;
    margin: 30px auto;
    width: 600px ;
    
}

.clear {
    clear: left;
}

.inner {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    font-weight: normal;
}